services:
	authenticator: Argo22\Modules\Core\Account\ApiAuthenticator

	- Argo22\Modules\Core\Account\IModelFactory
	- Argo22\Modules\Core\AccountNotification\IModelFactory

	accountCollection:
		factory: Argo22\Modules\Core\Account\Collection('account', @Argo22\Modules\Core\Account\IModelFactory)
	devicesCollection:
		factory: Argo22\Modules\Core\AccountNotification\Collection('account_notification', @Argo22\Modules\Core\AccountNotification\IModelFactory)

	passwordRecovery: Argo22\Modules\Core\User\PasswordRecovery(@Argo22\Modules\Core\Account\Collection)
